alias c=clear
alias e=exit
alias ll="ls -l"
alias la="ls -a"
alias lla="ll -a"
alias g=git
alias gst="git status"
alias gco="git checkout"
alias glg="git log"
alias gdub="git branch --merged | grep -v '\*' | xargs git branch -D"
alias vi=emacs